<%= form_for(@statu) do |f| %>

  <div class="field">
    <%= f.label 'Name' %><br>
    <%= f.text_field :holder, required: true %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time, required: true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
