<h1>Returning device <%= @statu.code %></h1>

<%= form_for(@statu, url: {action: "return"}) do |f| %>

  <div class="field">
    <%= f.label 'Name' %><br>
    <%= f.text_field :holder, required: true %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time, required: true%>
  </div>
  <%= f.hidden_field :code, :value => @statu.code %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', '/status/index' %>
