<div class="container">
<h1>Devices</h1>

<table class="table">
  <thead>
    <tr>
      <th>OS</th>
      <th>Model</th>
      <th>Code</th>
      <th>Available?</th>
      <th>Holder</th>
      <th>Time</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |device| %>
      <tr>
        <td><%= device.os %></td>
        <td><%= device.model %></td>
        <td><%= device.code %></td>
	<td><%= device.available%></td>
	<td><%= device.holder %></td>
	<td><%= device.time %></td>
	<td>
	  <% if device.available %>
            <%= link_to 'Check out', {controller: "status", action: "checkout", code: device.code} %>
	  <% else %>
            <%= link_to 'Check in', {controller: "status", action: "checkin", code: device.code} %>
	  <% end %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
